version: '3.8'
services:
  mongodb:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
    networks:
      - mongo-network
    command: ["--replSet", "rs0", "--bind_ip_all"]

  mongo-init:
    image: mongo
    container_name: mongo-init
    restart: "no"
    depends_on:
      - mongodb
    networks:
      - mongo-network
    entrypoint: >
      bash -c "
      sleep 5 &&
      mongosh --host mongodb:27017 --eval '
      rs.initiate({
        _id: \"rs0\",
        members: [{ _id: 0, host: \"localhost:27017\" }]
      })'
      "

networks:
  mongo-network:
    driver: bridge
